/* Fondo general */
html, body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal */
.container-fluid {
  min-height: 90vh;
  max-width: 500px; 
  margin: auto;
  padding: 20px;
}

/* Eliminar la sombra */
.container-fluid .shadow {
  box-shadow: none;
}

/* Estilo para el fondo y otros elementos */
.alert-primary {
  background-color: #d1e7ff;
  border-color: #004085;
  color: #004085;
}

.form-check-label {
  font-size: 14px;
}

.form-control {
  border-radius: 0.25rem;
}

.text-muted {
  font-size: 14px;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}
/* Centrar el botón de envío */
.text-centerr {
  display: flex;
  justify-content: center;
  align-items: center;
}