/* Fondo general */
html, body {
  background-color: #f8f9fa;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal */
.container-fluid {
  min-height: 90vh;
  max-width: 500px; 
  margin: auto;
  padding: 20px;
}

/* Tarjeta con sombra */
.shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Texto de color primario */
.text-primary {
  color: #003366 !important;
}

/* Botón primario */
.btn-primary {
  background-color: #003366;
  border-color: #003366;
}

.btn-primary:hover {
  background-color: #002244;
  border-color: #002244;
}
