body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
}

.text-primary {
  color: #003366 !important;
}

.btn-primary {
  background-color: #003366;
  border-color: #003366;
}

.btn-primary:hover {
  background-color: #002244;
  border-color: #002244;
}
